#app{

    .navbar{
        background-color: #5bccf6 !important;

        a{
            color: black;
        }
    }

    .menu-bar{
            li a{
                color: black ;
            }
        }
}